<footer id="footer-area" class="footer-section background-style relative-position">
    <div class="background-overlay"></div>
    <div  id="client_slide" class="client-list clearfix text-center">
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c1.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c2.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c3.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c4.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c5.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c6.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c1.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c2.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c3.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c4.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c5.png')}}" alt="img_not_found"/>
        </div>
        <div class="client_show">
            <img  src="{{asset('assets/img/client/c6.png')}}" alt="img_not_found"/>
        </div>
    </div>
    <div class="container">
        <div class="footer-widget-wrap">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="site-widget headline pera-content">
                        <h3 class="widget-title">A Propos</h3>
                        <p>
Audit ou conseils en gestion comptabilité management et finances est un cabinet d'expertise comptable et de commissariat aux comptes inscrit au tableau de l'ordre des experts comptables de côte d'Ivoire.</p>
                        <div class="opening-time">
                            <div class="opening-time-icon float-left">
                                <span class="flaticon-calendar"></span>
                            </div>
                            <h3 class="widget-title">Heures d'ouverture</h3>
                            <div class="time-schedule">
                                <span>Lundi - Vendredi 8:00 - 17:30,</span>
                                <span>Dimanche - Fermée</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col-sm-6">
                    <div class="site-widget headline footer-menu-widget pera-content">
                        <h3 class="widget-title">Nos Services</h3>
                        <div class="footer-menu ul-li-block">
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-3  col-sm-6">
                    <div class="site-widget headline pera-content">
                        <h3 class="widget-title">Our Footprints</h3>
                        <div class="map_bg relative-position">
                            <img src="assets/img/map2.png" alt="">
                            <div class="location_marker loc_one">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="loc_toltip">
                                    <img src="assets/img/fv2.png" alt="">
                                    New York
                                </div>
                            </div>
                            <div class="location_marker loc_two">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="loc_toltip">
                                    <img src="assets/img/fv2.png" alt="">
                                    London
                                </div>
                            </div>
                            <div class="location_marker loc_three">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="loc_toltip">
                                    <img src="assets/img/fv2.png" alt="">
                                    Sydney
                                </div>
                            </div>
                            <div class="location_marker loc_four">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="loc_toltip">
                                    <img src="assets/img/fv2.png" alt="">
                                    Toronto
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="copyright-text text-center">
        <span>Copyright By Devs - {{ "now"|date("m/Y") }}</span>
    </div>
</footer>